.Layout {

  > .header {
    height: 100px;
    background: lightgrey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;

    > .spanner {
      flex: 1;
    }

    > .user {
      margin-right: 20px;
    }
  
    > .logo {
      font-size: 40px;
    }
  
    > a {
      text-decoration: none;
      padding: 10px 20px;
      border-radius: 5px;
      background: steelblue;
      color: white;
      border: none;
      cursor: pointer;
      font-weight: bold;
    }
  }

  > .content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
}
